# Virtual environment  
venv/  

# Python bytecode  
__pycache__/  
*.pyc  

# Logs  
logs/  
*.log  

# Coverage reports  
.coverage  
htmlcov/  

# Config files  
.env  
.pytest_cache/
coverage.xml
